</main><!-- Main Body Content -->
    <footer class="text-center">
        <div class="socialAccounts">
            <a href="https://www.linkedin.com/in/hammackdustin" class="btn" target="_blank" title="facebook">
                <img src="./images/sprite.png" alt="Facebook Account" class="facebook-icon">&nbsp;
            </a>
            <a href="https://www.linkedin.com/in/hammackdustin" class="btn" target="_blank" title="instagram">
                <img src="./images/sprite.png" alt="Instagram Account" class="instagram-icon">&nbsp;
            </a>
            <a href="https://www.linkedin.com/in/hammackdustin" class="btn" target="_blank" title="linkedin">
                <img src="./images/sprite.png" alt="LinkedIn Account" class="linkedin-icon">&nbsp;
            </a>
            <a href="https://github.com/rdhammack88" class="btn" target="_blank" title="github">
                <img src="./images/sprite.png" alt="Github Account" class="github-icon">&nbsp;
            </a>
            <a href="https://pastebin.com/u/rdhammack" class="btn" target="_blank" title="pastebin">
                <img src="./images/sprite.png" alt="Pastebin Account" class="pastebin-icon">&nbsp;
            </a>
        </div>
        <p class="lead">Created with &hearts; by <strong>Dustin Hammack</strong> &copy;2018</p>
    </footer>

    <!-- Scripts -->
    <!-- Include JQuery -->
    <script src="./src/js/jquery.js"></script>
    <script src="./src/js/popper.js"></script>
    <script src="./src/js/bootstrap.js"></script>
    <script src="./src/js/jquery.easing.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="./src/js/scripts.js"></script>

</body>
</html>