.about {
    @include break(768px) {
        @include height-break(800px) {
            // height: 100vh;
        }
    }

    .bio-wrapper {
        background-color: #ec848b;
        color: #fff;
        p.self-bio {
            text-align: justify;
            font-size: 1.15rem;
        }
    }

    .resumeLinkGridItem {
        .btn-dark {
            background-color: darken($cyan, 20%);
            > i.material-icons {
                font-size: 20px;
                vertical-align: sub;
            }
        }
    }
    .skills-container {
        background-color: #68d8f5; // lighten(#045, 30%);
        width: 100vw !important;
        color: #fff; // animation: fadeIn 4s ease forwards;
        h4 {
            // border-bottom: 1px solid #aaa;
        }
        p.skills-description {
            // text-align: center;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
            padding-top: 1.2rem;
            border-top: 1px solid #eee;
        }
        .progress-container {
            position: relative;
            svg.progress-ring {
                height: 150px;
                width: 150px;
                .progress-outline {
                    fill: #eee;
                }
            }
            .label {
                color: #eee;
                background-color: #ec848b; // #eb3e4a;
                // lighten(#045, 10%); //#006d88
                height: 100px;
                width: 100px;
                border-radius: 50%;
                font-size: 2rem;
                position: absolute;
                top: 25px;
                left: 40px;
                display: flex;
                /* Vertical Alignment */
                align-items: center;
                /* Horizontal Alignment */
                justify-content: center;
                .percentage {
                    font-size: 1rem;
                    vertical-align: super;
                }
            }
        }
    }
}
