.contact {
    
    @include height-break(650px) {
        height: 90vh;
    }

    .form-group {
        label {
            width: 100%;

            strong {
                display: inline-block;
                width: 10%
            }

            small {
                display: inline-block;
                text-align: end;
                width: 86%;
            }

            @include break(768px) {
                strong {
                    width: 10%
                }
    
                small {
                    width: 87%;
                }
            }
        }
    }
    
    @include break(768px) {
        
    }
}