.contact {
    @include height-break(650px) {
        // height: 90vh;
    }

    .form-group {
        label:not(.form-check-label) {
            width: 100%;

            strong {
                display: inline-block;
                // width: 15%
            }

            small {
                display: inline-block;
                // text-align: end;
                // width: 75%;
            }

            @include break(768px) {
                strong {
                    // width: 15%
                }

                small {
                    // width: 77%;
                }
            }

            @include break(1200px) {
                strong {
                    // width: 15%
                }

                small {
                    // width: 80%;
                }
            }
        }

        &.form-check {
            border: 1px solid #ccc;
            padding: 10px 5px;
            width: 50%;

            @include break(768px) {
                width: 30%;
            }

            @include break(992px) {
                width: 23%;
            }

            label {
                width: 90%;
            }

            input[type='checkbox'] {
                width: 16px;
                height: 16px;
            }
        }
    }

    @include break(768px) {
    }
}
