/* Footer */
footer {
    background: #0f1e32;
    margin: 0px;
    position: relative;

    span:not(.heart) {
        padding: 0.3em 0.7em;
        color: white;
        background: #42423e;
        border-radius: 50%;
        margin: 3px 7px;
        transition: all 500ms ease;

        &:hover {
            background-color: lighten(#045, 20%);
        }

        a {
            text-decoration: none;
            color: #eee;
        }
    }

    p {
        margin: 0;
        color: #eee;
        font-weight: 700;
        font-size: 1rem;

        span.heart {
            padding: 0 5px;
            color: rgba(230, 84, 84, 0.863);
            font-size: 1.4rem;
        }
    }

    .top a {
        position: absolute;
        right: 2%;
        top: 5%;
        color: #3f494c;
        transition: all 500ms ease;

        .fa-arrow-circle-up:hover {
            color: lighten(#045, 20%);
        }
    }
}
