/* Home Section Styles*/

.home-wrapper {
    .row {
        position: relative;
    }

    .home-left {
        .left-cover {
            display: block;
            background: transparentize($darker-blue, 0.4);
            height: 100%;
            width: 100%;
        }
    }

    .home-right {
        margin: auto;

        h2 {
            margin-bottom: -10px;
            margin-top: -20px;
            font-weight: 800;
        }

        h4 {
            margin-top: -2px;
            margin-bottom: 25px;
            font-weight: 300;
        }

        /** Arrow Code */
        span {
            color: $light-goldenrod;
            vertical-align: middle;

            &:first-of-type {
                position: relative;
                right: -10px;
                top: -1.5px;
            }

            &:last-of-type {
                position: relative;
                right: 10px;
                top: -1.5px;
            }
        }

        hr {
            border: 0.5px solid $dark-goldenrod;
            display: inline-block;
            width: 72%;
            margin: 0 auto;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            vertical-align: middle;
        }

        @include break(0px, 767px) {
            position: relative;
            top: -200px;
            color: $light-white;
        }
    }

    .home-img-holder {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            background: $light-white;
            padding: 10px;
            border-radius: 20%;
            transform: translateY(-45%);

            @include break(768px) {
                transform: translateX(-35%);
                border-radius: 0;
            }

            img {
                border-radius: 20%;

                @include break(768px) {
                    border-radius: 0;
                }
            }
        }
    }
}
