/* Load Fonts */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Josefin+Sans|Josefin+Slab|Merriweather|Oswald|Roboto+Slab');

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Caveat+Brush|Cinzel|Gloria+Hallelujah|Indie+Flower|Kaushan+Script|Lobster|Luckiest+Guy|Permanent+Marker|Philosopher|Playfair+Display+SC');

/* Site Colors */
$lightwhite: #eeeeee;
$blue: #004455;
$darkblue: #022933;
$goldenrod: lighten(goldenrod, 20%);
