%scroll-btn-parent {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;
	padding-left: 20px;
}

%scroll-btns {
	position: absolute;
	left: 48%;
	margin: 0 auto 5px;
	font-size: 5.6rem;
	color: lighten($bloodred, 12%);
	width: 1em;
	padding: 5px;
	animation: scroll-btn 1s infinite; //alternate
	z-index: 9999;	
}
		
.scroll-up-button {
	display: none;
	@extend %scroll-btn-parent;
	.scroll-up {
		@extend %scroll-btns;
		top: 0;
	}

	@include break(768px) {
		display: block;
		top: 10px;
	}
}

.scroll-down-button {
	display: none;
	@extend %scroll-btn-parent;

	.scroll-down {
		@extend %scroll-btns;
		bottom: 0;
		left: 48%;
	}

	@include break(768px) {
		display: block;
	}
}