
div#contact-wrapper {
	clear: both;
	padding: 100px 0 100px;
//	background-color: $lightblue1;
	height: 100vh;
	
	@include break(1024px) {
		height: 100vh;
		margin: 0;
		padding-top: 20vh;
	}
	
	@media only screen and (max-height: 500px) {
		height: 100%;
		min-height: 200vh;
	}
	
	h2 {
		color: #eee;
	}
	
	form {
		color: #eee;
		border-color: $lightblue1;
	}
	
	label {
		font-size: 1.4rem;
	}
	
	.form-group:last-of-type {
		margin: 0;
		
		& ~ p {
			padding-bottom: 10px;
			font-size: 1.4rem;
		}
	}
}