body {
	padding: 0;
	margin: 0;
	font-size: 100%;
}

img {
	width: 100vw;
	height: 100vh;
}

.galaxy-container {
	width: 100%;
	height: 100vh;
	min-height: 600px;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.carpet-roll {
	width: 50vw;
	height: 100vh;
/*	min-height: 800px;*/
	margin: 0 auto;
	background-color: rgba(0, 220, 20, 0.8);
	
/*
	-webkit-perspective: 100000px;
	-moz-perspective: 10px;
	-o-perspective: 10px;
	perspective: 100000px;
*/
	
/*
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
*/
	
	transform: perspective(400px) rotateX(45deg) translateZ(36px); /* translateZ(-145px);*/
}

.text-holder {
	font-size: 3em;
/*	transform: rotateX(5deg);  translateZ(-145px);*/
}